@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3>Shopping</h3>
	<img src="./images/pexels-karola-g-5632397.jpg" alt="Shopping Image" class="img-fluid" asp-append-version="true" height="300" width="300"/>
</div>